
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">ProducationMove</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{!-- <img src="https://avatar-redirect.appspot.com/google/109023826614717592641?size=400" alt="" class="user-avatar"> --}}
            Trung tâm bảo hành 2
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            

            {{!-- <a class="dropdown-item" href="/customers/create">Thêm khách hàng</a>

            
            <div class="dropdown-divider"></div> --}}
            {{!-- <a class="dropdown-item" href="/product_lines/create">Thêm sản phẩm</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/me/stored/admin">Quản lí dòng sản phẩm</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/customers">Quản lí khách hàng</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/customers">Quản lí Cơ sở</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/customers">Quản lí đại lý</a> --}}

            {{!-- <div class="dropdown-divider"></div> --}}
            <a class="dropdown-item" href="/">Đăng xuất</a>
            
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{!-- {{> header}} --}}
<div class="mt-4">
  
    <div>
      <h3>Dòng sản phẩm</h3>
      <a href="/me/trash/product_lines">Thùng rác ({{deletedCount}})</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã khách hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col" >Tên sản phẩm đã mua</th>
                <th scope="col" colspan="4">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#each insuranceNews}}
            <tr>
               <th scope="row">{{ @index }}</th>
                <td>{{this.code}}</td>
                <td>{{this.name}}</td>
                <td>{{this.product}}</td>
                <td>{{this.status}}</td>
                <td>
                  <a href="" class="btn btn-link btn-fix"  data-id="{{this._id}}"  onclick="fixOnclick()">
                      <span class=""> Sửa lỗi</span>
                    </a>
                </td>
                <td>
                    {{!-- <a href="/insuranceNews/{{this._id}}/edit" class="btn btn-link">Sửa</a> --}}
                    {{!-- <a href="" class="btn btn-link" data-toggle="modal" data-name="{{this.name}}" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa</a> --}}

                    {{!-- <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa</a> --}}
                    <a href="" class="btn btn-link btn-delivery-factory"  data-id="{{this._id}}"  onclick="deliveryOnclick()">
                      <span class="note-delivery"> Gửi về nhà máy</span>
                    </a>
                    
                </td>
                <td>
                  <a href="" class="btn btn-link btn-delivery-agency"  data-id="{{this._id}}"  onclick="deliveryOnclick()">
                      <span class="note-delivery"> Gửi về đại lý</span>
                    </a>
                </td>
            </tr>

            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đăng sản phẩm nào.
                <a href="/insuranceNews/create">Tạo sản phẩm</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa sản phẩm này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>
<form name="delivery-factory-course-form" method="POST"></form>
<form name="delivery-agency-course-form" method="POST"></form>
<form name="fix-course-form" method="POST"></form>
<script>
  

    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var courseName;
        var deleteForm = document.forms['delete-course-form'];
        var deliveryFactoryForm = document.forms['delivery-factory-course-form'];
        var deliveryAgencyForm = document.forms['delivery-agency-course-form'];
        var fixForm = document.forms['fix-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var deliveryFactoryBtn = $('.btn-delivery-factory');
        var deliveryAgencyBtn = $('.btn-delivery-agency');
        var fixBtn = $('.btn-fix');
        // When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
            courseName = button.data('name');
        });
        console.log(courseName);
        
        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/insuranceNews/' + courseId +'?_method=DELETE';            
            deleteForm.submit();
        }

        
        
        
        deliveryFactoryBtn.click(function (e) {
          e.preventDefault();
          var insuranceNewsId = $(this).data('id');
          deliveryFactoryForm.action = '/insuranceNews/' + insuranceNewsId + '/delivery-factory?_method=PATCH';
          deliveryFactoryForm.submit();
          console.log('click');
          
          
        });

        deliveryAgencyBtn.click(function (e) {
          e.preventDefault();
          var insuranceNewsId = $(this).data('id');
          deliveryAgencyForm.action = '/insuranceNews/' + insuranceNewsId + '/delivery-agency?_method=PATCH';
          deliveryAgencyForm.submit();
          console.log('click');
          
          
        });

        fixBtn.click(function (e) {
          e.preventDefault();
          var insuranceNewsId = $(this).data('id');
          fixForm.action = '/insuranceNews/' + insuranceNewsId + '/fix?_method=PATCH';
          fixForm.submit();
          console.log('click');
          
          
        });

        
    });

   function deliveryOnclick() {
      

      var textDelivery = document.querySelector(".note-delivery");
      textDelivery.innerHTML = "Đã vận chuyển";
    }

    
  
</script>
{{!-- deliveryBtn.style.color = "red"; --}}
{{!-- var deliveryBtn = document.querySelector(".btn-delivery");
      deliveryBtn.parentElement.parentElement.style.background = "yellow";
      console.log(deliveryBtn.parentElement);
      setTimeout(3000); --}}